@use 'color';

* {
  box-sizing: border-box;
}

form {
  margin: 25px auto;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 25px;

  label {
    flex: 1;
    display: flex;
    flex-flow: column wrap;

    &:last-of-type {
      flex: 0 0 content;

      input {
        margin-top: 5px;
      }
    }

    input[type="text"] {
      width: 100%;
    }
  }

  button {
    padding: 10px;
  }
}

table {
  width: 90%;
  margin: 25px auto;
  border-collapse: collapse;

  * {
    border: 1px solid #cecece;
    padding: 0.5em;
  }

  thead td {
    text-align: center;
    font-style: italic;
  }

  tbody tr {
    height: 50px;

    & td:first-child,
    & td:last-child {
      text-align: center;
    }
  }
}

.btn {
  background: none;
  border: none;
  font-size: 1.1rem;

  &:hover {
    cursor: pointer;
  }
}

